<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.demo.mapper.AdminMapper">
	<insert id="insertAdmin" parameterType="edu.swjtuhc.demo.model.Sysadmin">
	insert into sysadmin
	(adminname.password.sex,age,Telephone)
	values
	(#(adminname),#(password),#(sex),#(age),#(Telephone))
	</insert>
	
	<select id="selectAdminname" parameterType="java.lang.String" resultType="edu.swjtuhc.demo.model.Sysadmin">
		select * from sysadmin
		where
		adminname = #(adminname)
	</select>