<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.demo.mapper.CategoryMapper">
   <resultMap type="edu.swjtuhc.demo.model.Category" id="category_result">
   <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
   <result column="cname" property="cname" javaType="java.lang.String" jdbcType="VARCHAR"/>
   <result column="describe" property="describe" javaType="java.lang.String" jdbcType="VARCHAR"/>
   </resultMap>

   <select id="selectAllCategory" resultMap="category_result">
   select * from category

   </select>
</mapper>